* {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

header {
  background-color: #5b83d3;
}

section {
  background-color: #de6b2c;
}

body {
  background-color: #fb881f;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul a {
  color: black;
  text-decoration: none;
  padding: 0px 10px;
  font-size: 16px;
}

nav ul a:hover {
  text-decoration: underline;
}

.link-active {
  font-weight: bolder;
}

section {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  align-items: center;
}

.icono{
  font-size: 40px;
  color: black;
}

section p {
  padding: 0px 10px;
  font-size: 24px;
}
